<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="DevExpress" value="https://nuget.devexpress.com/nGRanIgwwPOiCpz4gmhWgkVo7gTcX8hyajAWBPgmkcGmKj7HuU/api" />
	</packageSources>
</configuration>